.o-wrapper{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.set {
    background: #fff;
}
.sets {
    background: var(--whitish);
}
.o-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    margin: auto;
    justify-content: center;
}
.sets::after {
    content: "";
    width: 100%;
    display: block;
    background: #fff;
    height: 10em;
    clip-path: polygon(0 88%, 110% 0, 100% 110%, 0 110%);
    z-index: 99;
}

.o-lists {
    width: 17rem;
    padding: 1rem;
    background: #f5f5f5;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-family: poppins;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: 0.5s ease-in;
}
.o-lists:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.o-words {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.o-head {
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--orange);
}
.o-detail {
    font-size: 0.8rem;
}
.o-icon {
    background: var(--orange);
    width: 35%;
    margin: auto;
    border-radius: 50%;
    padding: 1rem;
}
@media (max-width: 735px) {
    .o-lists {
        width: 90%;
    }
    .o-icon {
        width: 30%;
    }
    @media (max-width: 434px) {
        .set .o-wrapper {
            gap: 2rem;
        }
        .o-wrapper{
            padding: 2rem;
        }
        .o-lists{
            width: 100%;
        }
        .o-icon {
            width: 35%;
        }
        .o-container {
            padding: 2rem;
        }
    }
}